@page
@model MiniBlogi.Pages.Blog.DetailsModel
@{
}

<h2>@Model.BlogPost.Title</h2>

@foreach (var tag in Model.BlogPost.Tags)
{
    <span>@tag</span>
}

@foreach (var image in Model.BlogPost.Images)
{
    <img src="@image.FilePath+@image.FileName+.+@image.FileFormat" alt="Blog post image" width="100" height="100">
}

<p>@Model.BlogPost.Description</p>

<a href="/">Back to List</a>
