@page
@model MiniBlogi.Pages.Blog.IndexModel
@{
}
<h2>Blog Posts</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Published Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BlogPosts)
        {
            <tr>
                <td>@item.Title</td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="./Create">Create New</a>